#board div {
  float: left;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border: solid 3px black;
  display: inline-block;
  margin: 3px;
  font-size: 3em;
  text-align: center;
  line-height: 120px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:red;
}

#board div:nth-child(3n+1) {
  clear: both;
}

.box:hover {
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

h1  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  text-align: left; 
}

body  {
  background-color: bisque;
}